<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="innovate, innovation, blockchain, crypto, cryptocurrency, bitcoin, multichain, ethereum, ICO, creative, technology, crypto wallets, paper wallets, gift cards, foldable display, hologram, augmented reality, subscription, thin film, voting, election">
	<meta name="description" content="Tavonni helps organizations take advantage of the benefits of blockchain and adjacent technologies. Whether they are looking to create efficiency gains, to extend existing products and services to new clients or to completely reinvent an existing business model from the ground up.">
<meta property="og:type" content="business.business">
<meta property="og:title" content="Tavonni Creative Technologies - We build technology so you dont have to.">
<meta property="og:url" content="https://www.tavonni.com">
<meta property="og:image" content="http://www.tavonni.com/images/logo-icon.jpg">
	<title>Tavonni Creative Technologies - We build technology so you dont have to.</title>
	<link rel="shortcut icon" href="images/favicon.png">
	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114.png">
	<link href="css/uikit.css" rel="stylesheet" media="all">
	<link href="css/styles.css" rel="stylesheet" media="all">
</head>
<body data-ng-app="myPage" data-ng-controller="myPageCtrl">

<!-- Spinner -->
<div class="spinner">
	<div class="spinner_wrapper">
		<div class="spinner_folding_cube">
			<div class="spinner_cube1 spinner_cube"></div>
			<div class="spinner_cube2 spinner_cube"></div>
			<div class="spinner_cube4 spinner_cube"></div>
			<div class="spinner_cube3 spinner_cube"></div>
		</div>
	</div>
</div>

<!-- Page wrapper -->
<div class="wrapper">

<!-- Header -->
<header class="uk-small-hidden header">
	<nav class="uk-navbar header-nav">
		<div class="uk-container uk-container-center">
			<a class="uk-navbar-brand logo_link">
				<img class="uk-responsive-height logo" src="images/logo-banner-trans.png" alt="">
			</a>
			<div class="uk-navbar-flip uk-visible-large">
				<ul class="uk-navbar-nav header-nav-list">
<!-- 					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_features header_nav_list_item_link" href="#">What We Do </a>
					</li> -->
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_offer header_nav_list_item_link" href="#">Pipeline</a>
					</li>
<!-- 					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_clients header_nav_list_item_link" href="#">Clients</a>
					</li> -->
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_facts header_nav_list_item_link" href="#">Token</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_projects header_nav_list_item_link" href="#">Projects</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_team header_nav_list_item_link" href="#">Team</a>
					</li>
					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_customers header_nav_list_item_link" href="#">Get In Touch</a>
					</li>
				</ul>
			</div>
			<div class="uk-navbar-flip uk-hidden-large header_navbar_mobile_block">
				<div data-ng-click="toggleMobileNav($event)" class="uk-navbar-toggle header_navbar_mobile"></div>
			</div>
		</div>
	</nav>
</header>

<!-- Text container -->
<section class="uk-height-viewport uk-cover-background uk-position-relative uk-flex uk-flex-middle uk-overflow-hidden grey_overlay container">

	<!-- Video background -->
	<div class="video_wrapper">
		<video id="video" class="video" autoplay="autoplay" loop="loop" muted="muted">
			<source src="media/glass-sunset.mp4" type="video/mp4">
		</video>
	</div>

	<div class="uk-container uk-container-center uk-width-1-1 uk-text-center uk-position-relative container_block">

		<div class="container_block">
			<h1 class="uk-h1 container_title">TAVONNI</h1>
			<h2 class="uk-h2 container_subtitle">CREATIVE TECHNOLOGIES</h2>
			<div class="container_description">We build technology so you don't have to</div>
			<!-- BUTTONS -->
<!-- 			<div class="uk-position-relative uk-margin-large-bottom uk-width-1-1 container_button">
				<div data-ng-click="scrollNav($event)" class="uk-button uk-border-rounded green_button container_button_message">Send message</div>
				<div data-ng-click="scrollNav($event)" class="uk-button uk-border-rounded container_button_subscribe">Subscribe</div>
			</div> -->
		</div>

	</div>
	<div data-ng-click="scrollNav($event)" class="uk-icon-angle-down container_arrow"></div>
</section>

<!-- Features -->
<section class="features grey_overlay section">
	<div class="uk-container uk-container-center uk-position-relative" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-text-center uk-text-contrast animated section_title features_title">Our Product Pipeline</h3>
		<h4 class="uk-h4 uk-text-contrast uk-text-center uk-margin-large-bottom animated section_subtitle">Tavonni helps organizations take advantage of the benefits of blockchain and adjacent technologies. Whether they are looking to create efficiency gains, to extend existing products and services to new clients or to completely reinvent an existing business model from the ground up.</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-crypto-wallet features_logo"><img src="images/crypto-wallet.png" /></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Cold Storage Crypto Wallets</h4>
						<p class="uk-text-contrast features_text">Store any cryptocurrency offline safely and securely on a device the size of a credit card.<br /><span class="uk-text-bold">(Coming Soon)</span></p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-delivery-man features_logo"><img src="images/delivery-man.png" /></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">CryptoCrate Subscription Service</h4>
						<p class="uk-text-contrast features_text">Subscribe to get cryptocurrency securely delivered to your door.<br /><span class="uk-text-bold">(Coming August 2018)</span></p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-voting features_logo"><img src="images/voting2.png" /></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Blockchain Voting</h4>
						<p class="uk-text-contrast features_text">Continuing to develop the next version of Democratic elections as we know it.<br /><span class="uk-text-bold">(Coming July 2018)</span></p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-dice features_logo"><img src="images/dice.png" /></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Hex Dice</h4>
						<p class="uk-text-contrast features_text">Securely create random private/public keys offline anywhere.<br /><span class="uk-text-bold">(Coming June 2018)</span></p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-giftcards features_logo"><img src="images/secure-payment.png" /></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Cryptocurrency Gift Cards</h4>
						<p class="uk-text-contrast features_text">Give cryptocurrency as gifts to others. Use and spend just like a Gift Card.<br /><span class="uk-text-bold">(Coming Soon)</span></p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-vr features_logo"><img src="images/virtual-reality.png" /></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">AR Interface for crypto wallets</h4>
						<p class="uk-text-contrast features_text">Interact with your cryptocurrency in Augmented Reality<br /><span class="uk-text-bold">(Under Development)</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Statistic -->
<section class="statistic grey_overlay section" id="statistic">
	<div class="uk-container uk-container-center uk-text-contrast uk-position-relative uk-text-center" data-uk-scrollspy="{cls:'select uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title statistic_title">TAVO Token Metrics</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated uk-text-lead">Tavonni plans to raise $20M through the combination of a private sale and a public token sale. The fundraising target has been carefully selected to enable us to reach our development milestones and jumpstart the Tavonni Product Pipeline. Tavonni will distribute one billion TAVO tokens to be distributed as follows:</h4>
		<div class="statistic_wrapper">
			<div class="uk-grid uk-grid-large">
				<div class="uk-width-large-1-2 uk-width-small-1-1 animated">
					<div class="uk-margin-large-bottom statistic_block">
							<img class="chart-01" src="images/chart1.png">
					</div>
				</div>
				<div class="uk-width-large-1-2 uk-width-small-1-1 animated">
					<div class="uk-margin-large-bottom statistic_block">
							<img class="chart-01" src="images/chart2.png">
					</div>
				</div>
			</div>
		</div>
		<p class="uk-text-left">
			<ul class="uk-list uk-list-bullet">
				<li>Tavonni will follow strict KYC/AML procedures during both stages of fundrising, with funds raised used to, among other things:</li>
				<li>Expand the Tavonni ecosystem through accelerator and educational programs;</li>
				<li>Build a world-class in-house research team;</li>
				<li>Explore the different implementations of smart contract languages and their usability</li>
				<li>To accelerate blockchain adoption across the mass-market and enterprise;</li>
				<li>Provide venture funding for early projects on the Tavonni blockchain.</li>
				<li>Tavonni will aggressively pursue development, acquire the best talent, and explore new solutions.</li>
			</ul></p>
	</div>
</section>

<!-- Gallery -->
<section class="projects gallery wide_four_item_gallery section" data-uk-scrollspy="{cls:'uk-active'}">
	<h3 class="uk-h3 uk-text-center animated section_title gallery_title">Our best projects</h3>
	<h4 class="uk-h4 uk-text-center uk-margin-large-bottom animated section_subtitle">Tavonni takes care of painful migrations to new and future technologies, to enable the business of tomorrow.</h4>
	<div class="uk-grid uk-grid-collapse">
			<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
					<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/wallets.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
						<div class="uk-position-cover gallery_overlay">
							<div class="uk-text-center gallery_table">
								<div class="uk-text-center gallery_cell">
									<div class="uk-text-center gallery_container">
										<h4 class="uk-h4 uk-text-contrast gallery_caption">Crypto Paper Wallets</h4>
										<div class="uk-text-contrast gallery_description">Pre loaded cold storage paper wallets available online and at retail locations. (Coming soon)</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
					<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/cardsdisplay.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
						<div class="uk-position-cover gallery_overlay">
							<div class="uk-text-center gallery_table">
								<div class="uk-text-center gallery_cell">
									<div class="uk-text-center gallery_container">
										<h4 class="uk-h4 uk-text-contrast gallery_caption">Crypto Gift Cards</h4>
										<div class="uk-text-contrast gallery_description">Preloaded crypto wallets available in gift card format online and at retail locations. (Coming soon)</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
					<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/thin-film-wallet.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
						<div class="uk-position-cover gallery_overlay">
							<div class="uk-text-center gallery_table">
								<div class="uk-text-center gallery_cell">
									<div class="uk-text-center gallery_container">
										<h4 class="uk-h4 uk-text-contrast gallery_caption">Thin Film Hardware Wallets</h4>
										<div class="uk-text-contrast gallery_description">Flexible thin film hardware wallets with touch screen and wireless transfer (Under development).</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
					<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/crypto-crate.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
						<div class="uk-position-cover gallery_overlay">
							<div class="uk-text-center gallery_table">
								<div class="uk-text-center gallery_cell">
									<div class="uk-text-center gallery_container">
										<h4 class="uk-h4 uk-text-contrast gallery_caption">CryptoCrate Subscription Service</h4>
										<div class="uk-text-contrast gallery_description">Subscription Box with ongoing recurring deliveries of popular crypto currencies, swag, and collectables.</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/hyperledger-animation.gif" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Hyperledger</h4>
								<div class="uk-text-contrast gallery_description">Contributed to the Hyperledger Fabric project while working with Wells Fargo Bank</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/nublaas-animation.gif" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Integrated Data Center Management</h4>
								<div class="uk-text-contrast gallery_description">Patent #9201702 granted on the interface that allows enterprizes to manage their cloud resources in the browser.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/finwell-animation.gif" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Cognitive UI</h4>
								<div class="uk-text-contrast gallery_description">Developed a futuristic Cognitive UI display that changes based on a persons proximity and location to the screen. </div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
			<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/receipt.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
				<div class="uk-position-cover gallery_overlay">
					<div class="uk-text-center gallery_table">
						<div class="uk-text-center gallery_cell">
							<div class="uk-text-center gallery_container">
								<h4 class="uk-h4 uk-text-contrast gallery_caption">Blockchain Voting</h4>
								<div class="uk-text-contrast gallery_description">Created the first voting platform that exceeds current election standards by huge margins flawlessly and securely. Guaranteeing perfect vote count, verifiable votes, instant reporting, etc.</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>

<!-- Team -->
<section class="team section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 animated section_title team_title">Our Team</h3>
		<h4 class="uk-h4 uk-margin-large-bottom animated section_subtitle">We have a fantastic team of developers and engineers that are ready to help you</h4>
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="images/ghudson.png" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Geovanni Hudson</h4>
					<div class="uk-margin-bottom team_position">Founder & Chief Technologist</div>
					<!-- <div class="uk-margin-bottom team_description">Well seasoned with over 20 years tech industry experience.</div> -->
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="https://www.linkedin.com/in/geovannihudson" target="new"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="images/jahmai.jpg" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Jahmai Ginden</h4>
					<div class="uk-margin-bottom team_position">Chief Engineer</div>
					<!-- <div class="uk-margin-bottom team_description">Lorem ipsum dolor sit amet, consectetur ducimus</div> -->
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="https://www.linkedin.com/in/jahmai-ginden-179342b3/" target="new"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="images/user-icon.png" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Paul Fink</h4>
					<div class="uk-margin-bottom team_position">Web developer</div>
				</div>
			</div>
 			<div class="uk-width-large-1-4 uk-width-medium-1-2 animated">
				<div class="uk-position-relative uk-margin-large-bottom team_block">
					<div class="uk-overflow-hidden uk-align-center uk-border-circle team_container">
						<img class="team_image" src="images/ali.jpg" alt="">
					</div>
					<h4 class="uk-h4 uk-margin-small-bottom team_name">Ali Hosseini</h4>
					<div class="uk-margin-bottom team_position">Sr. Software Engineer</div>
					<!-- <div class="uk-margin-bottom team_description">Lorem ipsum dolor sit amet, consectetur ducimus</div> -->
					<ul class="uk-list social_list">
						<li class="social_list_item">
							<a class="uk-icon-linkedin social_list_item_link" href="https://www.linkedin.com/in/alishosseini/" target="new"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Contact -->
<section class="contact grey_overlay section">
	<div class="uk-container uk-container-center uk-text-center" data-uk-scrollspy="{cls:'uk-active'}">
		<h3 class="uk-h3 uk-position-relative uk-text-contrast animated section_title contact_title">Get In Touch</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated section_subtitle">Have an awesome idea or just need advice on how to make something better? We will provide a FREE quick analysis and proposal for it.</h4>

		<!-- MESSAGE FORM -->
		<form data-ng-submit="contactForm($event);" class="uk-form animated form_send_message" autocomplete="off">
			<div class="uk-grid uk-grid-small uk-container-center uk-width-medium-2-3 uk-width-large-1-2 uk-margin-bottom">
				<div class="uk-width-small-1-2 uk-margin-bottom">
					<input name="name" class="uk-width-1-1 uk-text-contrast form_input" type="text" placeholder="Name">
				</div>
				<div class="uk-width-small-1-2 uk-margin-bottom">
					<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="text" placeholder="E-mail">
				</div>
				<div class="uk-margin-bottom uk-width-1-1">
					<textarea name="message" class="uk-width-1-1 uk-text-contrast form_textarea" placeholder="Message"></textarea>
				</div>
				<div class="uk-margin-bottom uk-width-1-1">
					<button class="uk-button button_custom_green uk-width-1-1 form_button" type="submit">Send message</button>
				</div>
			</div>

			<!-- IF MAIL SENT SUCCESSFULLY -->
			<div class="success">Your message has been sent successfully.</div>
			<div class="success_response"></div>

			<!-- IF MAIL SENDING UNSUCCESSFULL -->
			<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
			<div class="error_response"></div>
		</form>
	</div>
</section>

<!-- Footer -->
<footer class="footer">
	<div class="uk-container uk-container-center uk-text-center">
 		<ul class="uk-list social_list">
			<li class="social_list_item">
				<a class="uk-icon-facebook social_list_item_link" href="https://www.facebook.com/tavonnicreative/" target="new"></a>
			</li>
			<li class="social_list_item">
				<a class="uk-icon-twitter social_list_item_link" href="https://www.twitter.com/tavonnicreative" target="new"></a>
			</li>
<!-- 			<li class="social_list_item">
				<a class="uk-icon-linkedin social_list_item_link" href="#"></a>
			</li> -->
			<li class="social_list_item">
				<a class="uk-icon-instagram social_list_item_link" href="https://www.instagram.com/tavonnicreative" target="new"></a>
			</li>
		</ul>
		<div class="footer_message">© 2018 Tavonni Creative Technologies, LLC. All Rights Reserved.</div>
	</div>
</footer>

<!-- Scroll arrow -->
<div data-ng-click="scrollTop()" class="scroll_top"></div>

</div>

<!-- Mobile menu -->
<div id="mobile_nav" class="uk-offcanvas">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
		<ul class="uk-nav uk-nav-offcanvas">
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_features" href="#">What We Do</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_offer" href="#">Pipeline</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_clients" href="#">Clients</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_facts" href="#">Token</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_projects" href="#">Projects</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_team" href="#">Team</a>
			</li>
			<li class="">
				<a data-ng-click="scrollNav($event)" class="link_customers" href="#">Get In Touch</a>
			</li>
		</ul>
	</div>
</div>

<!-- Modal subscribe window -->
<div id="modal_subscribe" class="uk-modal subscribe_window">
    <div class="uk-modal-dialog uk-text-center uk-border-rounded">
		<h4 class="uk-h4 uk-text-contrast subscribe_window_title">Subscribe to our newsletter</h4>
		<!-- NEWSLETTER FORM -->
		<form data-ng-submit="subLetterForm($event);" class="uk-form form_sign_in" autocomplete="off">
			<div class="uk-grid uk-grid-collapse uk-container-center uk-width-medium-3-4">
				<div class="uk-width-medium-3-4 uk-margin-bottom">
					<input name="email" class="uk-width-1-1 uk-text-contrast form_input" type="email" placeholder="Enter your e-mail">
				</div>
				<div class="uk-width-medium-1-4 uk-margin-bottom">
					<button class="uk-width-1-1 uk-button button_custom_green form_button" type="submit">Subscribe</button>
				</div>
			</div>
			<div class="response_wrapper">
				<!-- IF MAIL SENT SUCCESSFULLY -->
				<div class="success">Message Recieved.</div>
				<div class="success_response"></div>

				<!-- IF MAIL SENDING UNSUCCESSFULL -->
				<div class="error">E-mail must be valid and name and message must not be empty.</div>
				<div class="error_response"></div>
			</div>
		</form>
        <a class="uk-modal-close uk-close uk-border-circle subscribe_window_close"></a>
    </div>
</div>


<script type="application/ld+json">
	{
	  "@context": "http://schema.org/",
	  "@type": "Organization",
	  "name": "Tavonni Creative Technologies, LLC.",
	  "address": {
		"@type": "PostalAddress",
		"streetAddress": "",
		"addressLocality": "South San Francisco",
		"addressRegion": "California",
		"postalCode": "94080"
	  },
	  "telephone": "866-996-2198"
	}
	</script>
<script  type="text/javascript" src="js/angular.min.js"></script>
<script  type="text/javascript" src="js/ngTouch.min.js"></script>
<script  type="text/javascript" src="js/jquery.min.js"></script>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj7cR7j4zbZLwiKDV35BJ6VSASioV0n_8"></script>
<script  type="text/javascript" src="js/uikit.min.js"></script>
<script  type="text/javascript" src="js/slideshow.min.js"></script>
<script  type="text/javascript" src="js/slideshow-fx.min.js"></script>
<script  type="text/javascript" src="js/slider.min.js"></script>
<script  type="text/javascript" src="js/lightbox.min.js"></script>
<script  type="text/javascript" src="js/countUp.js"></script>
<script  type="text/javascript" src="js/jquery.ajaxchimp.min.js"></script>
<script  src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script  src="https://www.gstatic.com/firebasejs/4.13.0/firebase-firestore.js"></script>
<script type="text/javascript" src="js/fbase.js"></script>
<script type="text/javascript" src="js/scripts.ang.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120433886-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-120433886-1');
</script>

<!-- www.freepik.com/free-photos-vectors/business - Business vectors created by Freepik -->
</body>
</html>