<header class="uk-small-hidden header">
  <nav class="uk-navbar header-nav">
    <div class="uk-container uk-container-center">
      <a class="uk-navbar-brand logo_link">
        <img
          class="uk-responsive-height logo"
          src="images/logo-banner-trans.png"
          alt=""
        />
      </a>
      <div class="uk-navbar-flip uk-visible-large">
        <ul class="uk-navbar-nav header-nav-list">
          <li class="header_nav_list_item">
            <a
              data-ng-click="scrollNav($event)"
              class="link_features header_nav_list_item_link"
              href="#"
              >What We Do
            </a>
          </li>
          <!-- <li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_offer header_nav_list_item_link" href="#">Pipeline</a>
					</li> -->
          <!-- <li class="header_nav_list_item">
            <a
              data-ng-click="scrollNav($event)"
              class="link_pricing header_nav_list_item_link"
              href="#"
              >Cards</a
            >
          </li> -->
          <li class="header_nav_list_item">
            <a
              data-ng-click="scrollNav($event)"
              class="link_projects header_nav_list_item_link"
              href="#"
              >What We Did</a
            >
          </li>

          <!-- 					<li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_facts header_nav_list_item_link" href="#">Token</a>
					</li> -->

          <!-- <li class="header_nav_list_item">
						<a data-ng-click="scrollNav($event)" class="link_team header_nav_list_item_link" href="#">Team</a>
					</li> -->
          <li class="header_nav_list_item">
            <a
              data-ng-click="scrollNav($event)"
              class="link_customers header_nav_list_item_link"
              href="#"
              >Get In Touch</a
            >
          </li>
        </ul>
      </div>
      <div class="uk-navbar-flip uk-hidden-large header_navbar_mobile_block">
        <div
          data-ng-click="toggleMobileNav($event)"
          class="uk-navbar-toggle header_navbar_mobile"
        ></div>
      </div>
    </div>
  </nav>
</header>
