<section class="features grey_overlay section">
	<div class="uk-container uk-container-center uk-position-relative" data-uk-scrollspy="{cls:'uk-active'}">
		<!-- <h3 class="uk-h3 uk-text-center uk-text-contrast animated section_title features_title">Our Product Pipeline</h3> -->
		<!-- <h4 class="uk-h4 uk-text-contrast uk-text-center uk-margin-large-bottom animated section_subtitle">Tavonni helps organizations take advantage of the benefits of blockchain and adjacent technologies. Whether they are looking to create efficiency gains, to extend existing products and services to new clients or to completely reinvent an existing business model from the ground up.</h4> -->
		<div class="uk-grid uk-grid-large">
			<div class="uk-width-large-1-1 uk-width-medium-1-1 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Donate to Tavonni</h4>
						<p class="uk-text-contrast features_text">Donate to Tavonni to help fund our projects.<br /><div>
							<a class="uk-button uk-border-rounded donate-with-crypto"
							   href="https://commerce.coinbase.com/checkout/83c40b36-b84b-4a1d-bffe-b3c64b664259" target="new">
							  <span>Donate with Crypto</span>
							</a>
							<script src="https://commerce.coinbase.com/v1/checkout.js" async>
							</script>
						  </div></p>
					</div>
				</div>
			</div>

			<!-- <div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-crypto-wallet features_logo"><img src="images/crypto-wallet.png" /></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Cold Storage Crypto Wallets</h4>
						<p class="uk-text-contrast features_text">Store any cryptocurrency offline safely and securely on a device the size of a credit card.<br /><span class="uk-text-bold">(Buy Now in Store)</span></p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-delivery-man features_logo"><img src="images/delivery-man.png" /></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">CryptoCrate Subscription Service</h4>
						<p class="uk-text-contrast features_text">Subscribe to get cryptocurrency securely delivered to your door.<br /><span class="uk-text-bold">(Buy Now in Store)</span></p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-voting features_logo"><img src="images/voting2.png" /></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Blockchain Voting</h4>
						<p class="uk-text-contrast features_text">Continuing to develop the next version of Democratic elections as we know it.<br /><span class="uk-text-bold">(Coming August 2018)</span></p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-dice features_logo"><img src="images/dice.png" /></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Hex Dice</h4>
						<p class="uk-text-contrast features_text">Securely create random private/public keys offline anywhere.</p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-giftcards features_logo"><img src="images/secure-payment.png" /></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Cryptocurrency Gift Cards</h4>
						<p class="uk-text-contrast features_text">Give cryptocurrency as gifts to others. Use and spend just like a Gift Card.<br /><span class="uk-text-bold">(Coming Soon)</span></p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-3 uk-width-medium-1-2 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1 uk-margin-bottom uk-text-center">
						<div class="uk-icon-vr features_logo"><img src="images/virtual-reality.png" /></div>
					</div>
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">AR Interface for crypto wallets</h4>
						<p class="uk-text-contrast features_text">Interact with your cryptocurrency in Augmented Reality<br /><span class="uk-text-bold">(Coming Soon)</span></p>
					</div>
				</div>
			</div>
			<div class="uk-width-large-1-1 uk-width-medium-1-1 uk-text-center uk-margin-large-bottom animated">
				<div class="uk-grid uk-grid-collapse features_block">
					<div class="uk-width-1-1">
						<h4 class="uk-h4 uk-text-contrast features_caption">Donate to Tavonni</h4>
						<p class="uk-text-contrast features_text">Donate to Tavonni to help fund our projects.<br /><div>
							<a class="uk-button uk-border-rounded donate-with-crypto"
							   href="https://commerce.coinbase.com/checkout/83c40b36-b84b-4a1d-bffe-b3c64b664259" target="new">
							  <span>Donate with Crypto</span>
							</a>
							<script src="https://commerce.coinbase.com/v1/checkout.js" async>
							</script>
						  </div></p>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</section>