<section
  class="projects statistic wide_four_item_gallery section"
  data-uk-scrollspy="{cls:'uk-active'}"
>
  <h3 class="uk-h3 uk-text-center animated section_title statistic_title">
    What We Did
  </h3>
  <!-- <h4 class="uk-h4 uk-text-center uk-margin-large-bottom animated section_subtitle  statistic_title">Tavonni takes care of painful migrations to new and future technologies, to enable the business of tomorrow.</h4> -->
  <div class="uk-grid uk-grid-collapse">
    <!-- <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
					<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/wallets.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
						<div class="uk-position-cover gallery_overlay">
							<div class="uk-text-center gallery_table">
								<div class="uk-text-center gallery_cell">
									<div class="uk-text-center gallery_container">
										<h4 class="uk-h4 uk-text-contrast gallery_caption">Crypto Paper Wallets</h4>
										<div class="uk-text-contrast gallery_description">Pre loaded cold storage paper wallets available online and at retail locations. (Coming soon)</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
					<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/cardsdisplay.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
						<div class="uk-position-cover gallery_overlay">
							<div class="uk-text-center gallery_table">
								<div class="uk-text-center gallery_cell">
									<div class="uk-text-center gallery_container">
										<h4 class="uk-h4 uk-text-contrast gallery_caption">Crypto Gift Cards</h4>
										<div class="uk-text-contrast gallery_description">Preloaded crypto wallets available in gift card format online and at retail locations. (Coming soon)</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
					<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/thin-film-wallet.png" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
						<div class="uk-position-cover gallery_overlay">
							<div class="uk-text-center gallery_table">
								<div class="uk-text-center gallery_cell">
									<div class="uk-text-center gallery_container">
										<h4 class="uk-h4 uk-text-contrast gallery_caption">Thin Film Hardware Wallets</h4>
										<div class="uk-text-contrast gallery_description">Flexible thin film hardware wallets with touch screen and wireless transfer (Under development).</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
					<a class="uk-display-block uk-position-relative uk-overflow-hidden gallery_block" href="images/crypto-crate.jpg" data-lightbox-type="image" data-uk-lightbox="{group:'my-group'}">
						<div class="uk-position-cover gallery_overlay">
							<div class="uk-text-center gallery_table">
								<div class="uk-text-center gallery_cell">
									<div class="uk-text-center gallery_container">
										<h4 class="uk-h4 uk-text-contrast gallery_caption">CryptoCrate Subscription Service</h4>
										<div class="uk-text-contrast gallery_description">Subscription Box with ongoing recurring deliveries of popular crypto currencies, swag, and collectables.</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div> -->
    <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
      <a
        class="
          uk-display-block uk-position-relative uk-overflow-hidden
          gallery_block
        "
        href="images/hyperledger-animation.gif"
        data-lightbox-type="image"
        data-uk-lightbox="{group:'my-group'}"
      >
        <div class="uk-position-cover gallery_overlay">
          <div class="uk-text-center gallery_table">
            <div class="uk-text-center gallery_cell">
              <div class="uk-text-center gallery_container">
                <h4 class="uk-h4 uk-text-contrast gallery_caption">
                  Hyperledger
                </h4>
                <div class="uk-text-contrast gallery_description">
                  Contributed to the Hyperledger Fabric project while working
                  with Wells Fargo Bank
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
      <a
        class="
          uk-display-block uk-position-relative uk-overflow-hidden
          gallery_block
        "
        href="images/nublaas-animation.gif"
        data-lightbox-type="image"
        data-uk-lightbox="{group:'my-group'}"
      >
        <div class="uk-position-cover gallery_overlay">
          <div class="uk-text-center gallery_table">
            <div class="uk-text-center gallery_cell">
              <div class="uk-text-center gallery_container">
                <h4 class="uk-h4 uk-text-contrast gallery_caption">
                  Integrated Data Center Management
                </h4>
                <div class="uk-text-contrast gallery_description">
                  Patent #9201702 granted on the interface that allows
                  enterprizes to manage their cloud resources in the browser.
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
      <a
        class="
          uk-display-block uk-position-relative uk-overflow-hidden
          gallery_block
        "
        href="images/finwell-animation.gif"
        data-lightbox-type="image"
        data-uk-lightbox="{group:'my-group'}"
      >
        <div class="uk-position-cover gallery_overlay">
          <div class="uk-text-center gallery_table">
            <div class="uk-text-center gallery_cell">
              <div class="uk-text-center gallery_container">
                <h4 class="uk-h4 uk-text-contrast gallery_caption">
                  Cognitive UI
                </h4>
                <div class="uk-text-contrast gallery_description">
                  Developed a futuristic Cognitive UI display that changes based
                  on a persons proximity and location to the screen.
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="uk-width-medium-1-2 uk-width-xlarge-1-4 animated">
      <a
        class="
          uk-display-block uk-position-relative uk-overflow-hidden
          gallery_block
        "
        href="images/receipt.png"
        data-lightbox-type="image"
        data-uk-lightbox="{group:'my-group'}"
      >
        <div class="uk-position-cover gallery_overlay">
          <div class="uk-text-center gallery_table">
            <div class="uk-text-center gallery_cell">
              <div class="uk-text-center gallery_container">
                <h4 class="uk-h4 uk-text-contrast gallery_caption">
                  Blockchain Voting
                </h4>
                <div class="uk-text-contrast gallery_description">
                  Created the first voting platform that exceeds current
                  election standards by huge margins flawlessly and securely.
                  Guaranteeing perfect vote count, verifiable votes, instant
                  reporting, etc.
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
