<section class="statistic grey_overlay section" id="statistic">
	<div class="uk-container uk-container-center uk-text-contrast uk-position-relative uk-text-center" data-uk-scrollspy="{cls:'select uk-active'}">
		<h3 class="uk-h3 uk-text-contrast animated section_title statistic_title">TAVO Token Metrics</h3>
		<h4 class="uk-h4 uk-text-contrast uk-margin-large-bottom animated uk-text-lead">Tavonni plans to raise $20M through the combination of a private sale and a public token sale. The fundraising target has been carefully selected to enable us to reach our development milestones and jumpstart the Tavonni Product Pipeline. Tavonni will distribute one billion TAVO tokens to be distributed as follows:</h4>
		<div class="statistic_wrapper">
			<div class="uk-grid uk-grid-large">
				<div class="uk-width-large-1-2 uk-width-small-1-1 animated">
					<div class="uk-margin-large-bottom statistic_block">
							<img class="chart-01" src="images/chart1.png">
					</div>
				</div>
				<div class="uk-width-large-1-2 uk-width-small-1-1 animated">
					<div class="uk-margin-large-bottom statistic_block">
							<img class="chart-01" src="images/chart2.png">
					</div>
				</div>
			</div>
		</div>
		<p class="uk-text-left">
			<ul class="uk-list uk-list-bullet">
				<li>Tavonni will follow strict KYC/AML procedures during both stages of fundrising, with funds raised used to, among other things:</li>
				<li>Expand the Tavonni ecosystem through accelerator and educational programs;</li>
				<li>Build a world-class in-house research team;</li>
				<li>Explore the different implementations of smart contract languages and their usability</li>
				<li>To accelerate blockchain adoption across the mass-market and enterprise;</li>
				<li>Provide venture funding for early projects on the Tavonni blockchain.</li>
				<li>Tavonni will aggressively pursue development, acquire the best talent, and explore new solutions.</li>
			</ul></p>
	</div>
</section> 